<nav class="navbar navbar-expand-lg navAll" >
    <div class="container-fluid">
        <a class="navbar-brand" href="#">BRAND</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <!-- Tầng 1 -->
                <li style="margin-left: 390px;"></li>


                <li class="nav-item dropdown"  *ngFor="let categoryListFirst of categoryList" >
                    <a class="nav-link dropdown-toggle tabs" routerLink="/products" role="button" (click)="onCategorySelect(categoryListFirst.id)">
                        {{categoryListFirst.name}}
                    </a>
                    <ul class="dropdown-menu">
                        <!-- Tầng 2 -->

                        <li class="dropdown-submenu" *ngFor="let categoryListSecond of categoryListFirst.subCategories">
                            <a class="dropdown-item " routerLink="/products"  (click)="onCategorySelect(categoryListSecond.id)" >{{categoryListSecond.name}}</a>
                            <ul class="dropdown-menu" *ngIf="categoryListSecond.subCategories && categoryListSecond.subCategories.length > 0">
                                <!-- Tầng 3 -->
                                <li *ngFor="let categoryListThird of categoryListSecond.subCategories">
                                    <a (click)="onCategorySelect(categoryListThird.id)"
                                        class="dropdown-item"   routerLink="/products">
                                       {{ categoryListThird.name }}
                                     </a>
                                </li>
                            </ul>
                        </li>



                    </ul>


                </li>



                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle tabs" routerLink="/detail_product" role="button">
                      NAM
                  </a>
                  <ul class="dropdown-menu">

                      <li class="dropdown-submenu">
                          <a class="dropdown-item dropdown-toggle" href="#">Tầng 2 - Action</a>
                          <ul class="dropdown-menu">

                              <li><a class="dropdown-item" href="#">Tầng 3 - Sub Action 1</a></li>
                              <li><a class="dropdown-item" href="#">Tầng 3 - Sub Action 2</a></li>
                          </ul>
                      </li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                  </ul>
              </li> -->

                <!-- <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle tabs" href="#" role="button">
                      TRẺ EM
                  </a>
                  <ul class="dropdown-menu">

                      <li class="dropdown-submenu">
                          <a class="dropdown-item dropdown-toggle" href="#">Tầng 2 - Action</a>
                          <ul class="dropdown-menu">

                              <li><a class="dropdown-item" href="#">Tầng 3 - Sub Action 1</a></li>
                              <li><a class="dropdown-item" href="#">Tầng 3 - Sub Action 2</a></li>
                          </ul>
                      </li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                  </ul>
              </li> -->

              <li class="nav-item dropdown" style="margin-left: 200px;">
                <a class="nav-link tabs" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="fa-regular fa-user"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <!-- Hiển thị khi người dùng chưa đăng nhập -->
                  <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="dropdown-item" routerLink="/login">{{ 'LOGIN1' | translate }}</a>
                  </li>
                  <li class="nav-item" *ngIf="!isLoggedIn">
                    <a class="dropdown-item" routerLink="/signin">{{ 'SIGNUP1' | translate }}</a>
                  </li>

                  <!-- Hiển thị khi người dùng đã đăng nhập -->
                  <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="dropdown-item" routerLink="/profile">{{ 'PROFILE' | translate }}</a>
                  </li>
                  <li class="nav-item" *ngIf="isLoggedIn">
                    <a class="dropdown-item" href="#" (click)="logout()">{{ 'LOGOUT' | translate }}</a>
                  </li>
                </ul>
              </li>

                <li class="nav-item ">
                    <a class="nav-link tabs" routerLink="/wishlist">
                        <i class="fa-regular fa-heart"></i>
                    </a>
                </li>
                <li class="nav-item " style="padding-right: 90px;">
                    <a class="nav-link tabs position-relative" routerLink="/cart">
                       <span *ngIf="totalItems > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                        {{totalItems}}
                        </span>
                      <i class="fa-solid fa-cart-shopping"></i></a>
                </li>
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle tabs"
                  href="#"
                  id="languageDropdown"
                  role="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  {{ 'LANG' | translate }}
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" (click)="changeLanguage('en')">English</a></li>
                  <li><a class="dropdown-item" (click)="changeLanguage('vi')">Tiếng Việt</a></li>
                  <li><a class="dropdown-item" (click)="changeLanguage('es')">Español</a></li>
                </ul>
              </li>



            </ul>

        </div>
    </div>
</nav>
