
<div class="container-fluid  "  style="height: auto; background-color: #f1f1f0;padding-top: 60px;
padding-bottom: 50px;padding-top: 120px;">
    <div class="titleHome " style="text-align: center; ">
      <div class="row" style=" justify-content: center;">
        <span class="col-md-12 col-lg-12 col-xl-12 ">
         BRAND
        </span>
        <p class="col-md-12 col-lg-12 col-xl-12">{{ 'HOME_DESCRIPTION' | translate }}</p>
      </div>

    </div>
  </div>
  <div class="container-fluid  " style="background-color:#f1f1f0;height: auto;  padding-bottom: 100px;">

    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="thum1" >
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <img class="img-fluid" src="assets/images/cotonSgirt.webp" alt=""   >
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <span>COTTON</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <p> Loại vải được làm 100% từ những sợi bông với sự kết hợp của 1 số loại hoá chất giúp vải bền và mềm mại hơn</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <a href="">KHÁM PHÁ NGAY</a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="thum1 "  >
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <img class="img-fluid" src="assets/images/jean.jpeg" alt="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <span>JEAN</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <p> Loại chất liệu may từ vải cotton cứng với các sợi đan chéo, trong đó một sợi ngang nằm dưới hai hoặc một số nhiều hơn sợi dọc</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <a href="">KHÁM PHÁ NGAY</a>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4">
        <div class="thum1"  >
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
              <img class="img-fluid" src="assets/images/lua.webp" alt="">
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <span>Silk</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <p> Vải lụa là một loại vải mịn, mỏng được dệt bằng tơ. Loại lụa tốt nhất được dệt từ tơ tằm</p>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">
              <a href="">KHÁM PHÁ NGAY</a>
            </div>
          </div>

        </div>
      </div>


    </div>






  </div>

  <div class="container-fluid  " style="height: 500px; background-color: #ffffff;height: auto;">
    <div class="row" style=" margin-left: 36px;">
      <div class=" col-sm-6 col-md-6 col-lg-3">
        <div class="thum2 text-center d-flex flex-column align-items-center" data-aos="zoom-in">
          <i class="fa-solid fa-shirt" style="font-size: 60px;padding-bottom: 20px;"></i>
          <span class="mb-2">PHONG CÁCH</span>
          <p>Bắt kịp xu hướng, cập nhật mốt hàng tháng.  </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thum2 text-center d-flex flex-column align-items-center" data-aos="fade-up">
          <i class="fa-brands fa-apple-pay" style="font-size: 80px"></i>
          <span class="mb-2">THANH TOÁN </span>
          <p>Tiện lọi, nhanh chòng và bảo mật tuyệt đôi thông tin.  </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thum2 text-center d-flex flex-column align-items-center" data-aos="zoom-in">
          <i class="fa-solid fa-money-check-dollar" style="font-size: 80px;"></i>
          <span class="mb-2">GIÁ TIỀN PHÙ HỢP</span>
          <p>Phù hợp với tài chính xã hội hiện nay.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="thum2 text-center d-flex flex-column align-items-center" data-aos="zoom-in" >
          <i class="fa-solid fa-phone" style="font-size: 70px;padding-bottom: 10px;"></i>
          <span class="mb-2">LIÊN HỆ </span>
          <p>Tư vấn tận tâm, chi tiết.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid  " style="background-color:rgb(255, 255, 255);height: auto; ">

    <div class="row" style="margin-left: 30px;">
      <div class="col-md-6 col-lg-4 col-xl-4 mb-0">
        <div class="thum3" data-aos="fade-up"
             data-aos-anchor-placement="top-center" >
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12  ">
              <img class="img-fluid" src="assets/images/thoitrangnam.jpg" alt="">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12 " style="margin-top: 10px; ">
              <button
                style="border: 0px solid black; background-color: rgb(255, 255, 255);font-family: 'Times New Roman', Times, serif;color: #8f8f8f;">THỜI
                TRANG NAM </button>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4 mb-0">
        <div class="thum3" data-aos="flip-right"
             data-aos-anchor-placement="top-center" >
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12  ">
              <img class="img-fluid" src="assets/images/thoitrangnu.jpg" alt="">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 10px;">
              <button
                style="border: 0px solid black; background-color: rgb(255, 255, 255);font-family: 'Times New Roman', Times, serif;color: #8f8f8f;">THỜI
                TRANG NỮ </button>
            </div>

          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-4 mb-0">
        <div class="thum3"  data-aos="fade-up"
             data-aos-anchor-placement="top-center" >
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12  ">
              <img class="img-fluid" src="assets/images/thoitangtreem.jpg" alt="">
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 10px;">
              <button
                style="border: 0px solid black; background-color: rgb(255, 255, 255);font-family: 'Times New Roman', Times, serif;color: #8f8f8f;">THỜI
                TRANG TRẺ EM </button>
            </div>

          </div>
        </div>
      </div>




    </div>






  </div>


  <div class="container-fluid " style="height: auto;background-color: rgb(255, 255, 255); ">
    <div class="thum4">
      <div class="row" style=" margin-left: 36px;">
        <div class="col-md-6 col-lg-10 col-xl-10">
          <p>SẢN PHẨM NỔI BẬT</p>
        </div>
        <div class="col-md-6 col-lg-2 col-xl-2" style="margin-top: 13px;">
          <a href="">TẤT CẢ SẢN PHẨM </a>
        </div>

      </div>
    </div>

  </div>


<!--  <div class="container-fluid" style="background-color: rgb(255, 255, 255); height: auto;">-->
<!--    <div class="row" style="margin-left: 36px;">-->

<!--      &lt;!&ndash; Sản phẩm &ndash;&gt;-->
<!--      <div class="col-md-6 col-lg-3 col-xl-3 mb-0">-->
<!--        <div class="thum5">-->
<!--          <div class="row">-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12">-->
<!--              <img src="assets/images/thum4.webp" alt="">-->
<!--            </div>-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12">-->
<!--              <p style="padding-top: 3px; font-style: italic; font-weight: 500; font-size: 24px; padding-left: 5px;">WHITE SHIRT</p>-->
<!--            </div>-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: -15px;">-->
<!--              <span style="font-weight: 500; font-size: 17px;">500,000 VNĐ</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->

<!--      &lt;!&ndash; Bạn có thể lặp lại phần này cho từng sản phẩm khác, hoặc sử dụng ng-repeat/ngFor trong Angular &ndash;&gt;-->
<!--      <div class="col-md-6 col-lg-3 col-xl-3 mb-0">-->
<!--        <div class="thum5">-->
<!--          <div class="row">-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12">-->
<!--              <img src="assets/images/thum4.webp" alt="">-->
<!--            </div>-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12">-->
<!--              <p style="padding-top: 3px; font-style: italic; font-weight: 500; font-size: 24px; padding-left: 5px;">WHITE SHIRT</p>-->
<!--            </div>-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: -15px;">-->
<!--              <span style="font-weight: 500; font-size: 17px;">500,000 VNĐ</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-3 col-xl-3 mb-0">-->
<!--        <div class="thum5">-->
<!--          <div class="row">-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12">-->
<!--              <img src="assets/images/thum4.webp" alt="">-->
<!--            </div>-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12">-->
<!--              <p style="padding-top: 3px; font-style: italic; font-weight: 500; font-size: 24px; padding-left: 5px;">WHITE SHIRT</p>-->
<!--            </div>-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: -15px;">-->
<!--              <span style="font-weight: 500; font-size: 17px;">500,000 VNĐ</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-md-6 col-lg-3 col-xl-3 mb-0">-->
<!--        <div class="thum5">-->
<!--          <div class="row">-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12">-->
<!--              <img src="assets/images/thum4.webp" alt="">-->
<!--            </div>-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12">-->
<!--              <p style="padding-top: 3px; font-style: italic; font-weight: 500; font-size: 24px; padding-left: 5px;">WHITE SHIRT</p>-->
<!--            </div>-->
<!--            <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: -15px;">-->
<!--              <span style="font-weight: 500; font-size: 17px;">500,000 VNĐ</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->


<!--      &lt;!&ndash; Thêm nhiều sản phẩm như vậy &ndash;&gt;-->

<!--    </div>-->
<!--  </div>-->

  <div class="container-fluid  " style="background-color:rgb(255, 255, 255);height: 100px ">

  </div>
