*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


 
.navbar-nav{
    display: flex;
    height: 100%;
    cursor: pointer;
    padding: 16px 0;
}

.nav-item{
    padding: 0 16px;
}


.nav-link{
    text-transform: uppercase;
}

.bx:hover{
    /* margin-right: 10px;
    margin-left: 10px; */
    color: green !important;
}

/* .nav-link:hover{
    color: green !important;
} */

.tabs{
    transition: transform 0.9s ease, box-shadow 0.9s ease,
     background-color 0.9s ease;
    color: #000000;
}

.tabs:hover {
    transform: scale(1.05);
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
    background-color: #eff1f3; 
    /* Màu nền mới khi hover */
    border-radius: 6px;
    color: #82bad1  !important;
}


.fab:hover{
    color: green !important;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; /* remove the gap so it doesn't close */
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.form-check-input:checked{
    background-color: green !important;
}

.accordion{
    --bs-accordion-active-bg:#DAFFCB !important;
    --bs-accordion-active-color:green !important ;
}

.tooltip .tooltip-inner{
    max-width: 500px !important;
    width: 330px !important;
}

h5,h6{
    margin-bottom: 0px !important;
}

.active>.page-link, .page-link.active {
    z-index: 3;
    color: white !important;
    background-color: green !important;
    border-color: green !important;
}

.list-group-item.active {
    z-index: 2;
    color: green !important;
    background-color: #DAFFCB !important;
    border-color: #DAFFCB !important;
}
/* .carousel-indicators img.active {
   border: 1px  solid black !important;
} */

.payment_detail input {
    margin-bottom: 10px;
  }
  .sticky {
    position: sticky;
    top: 100px;
    z-index: 0;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }