<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">

    <div class="list-group list-group-flush">
      <a id="products-button" routerLink="ProductPage" class="list-group-item list-group-item-action bg-light" >Sản Phẩm</a>
      <a class="list-group-item list-group-item-action bg-light" routerLink="order-list">Đơn Hàng</a>
      <a  class="list-group-item list-group-item-action bg-light" routerLink="QRScanner">Quét Đơn</a>
      <a  class="list-group-item list-group-item-action bg-light" routerLink="statistics">Thống Kê</a>
      <a  class="list-group-item list-group-item-action bg-light" routerLink="revenue">Doanh Thu</a>
    </div>
  </div>
  <router-outlet></router-outlet>


</div>

