
<div class="container-fluid mt-5">
  <div class="container">
    <!-- Title -->
    <div class="d-flex justify-content-between align-items-center py-3">
      <h2 class="h5 mb-0">Đơn hàng #{{ orderDetails?.orderId }}</h2>
    </div>

    <!-- Main content -->
    <div class="row">
      <div class="col-lg-8">
        <!-- Details -->
        <div class="card mb-4">
          <div class="card-body">
            <div class="mb-3 d-flex justify-content-between">
              <div>
                <span class="me-3">{{ orderDetails?.date }}</span>
                <span class="me-3">#{{ orderDetails?.orderId }}</span>
                <span class="me-3">Visa -{{ orderDetails?.payment_method }}</span>
                <span class="badge rounded-pill bg-info">{{ orderDetails?.status }}</span>
              </div>
            </div>
            <table class="table table-borderless">
              <tbody>
              <tr *ngFor="let product of orderDetails?.products">
                <td>
                  <div class="d-flex mb-2">
                    <div class="flex-shrink-0">
                      <img [src]="product.imageUrl" alt="" width="35" class="img-fluid">
                    </div>
                    <div class="flex-lg-grow-1 ms-3">
                      <h6 class="small mb-0">{{ product?.name }}</h6>
                      <span class="small">Color: {{ product?.color }}</span>
                    </div>
                  </div>
                </td>
                <td>{{ product?.quantity }}</td>
                <td class="text-end">{{ product?.price | currency }}</td>
              </tr>
              </tbody>
              <tfoot>
              <tr>
                <td colspan="2">Tổng phụ</td>
                <td class="text-end">{{ orderDetails?.subTotal | currency }}</td>
              </tr>
              <tr>
                <td colspan="2">Phí ship</td>
                <td class="text-end">{{ orderDetails?.shippingFee | currency }}</td>
              </tr>
              <tr>
                <!--                <td colspan="2">Mã giảm giá (Code: {{ orderDetails?.discountCode }})</td>-->
                <td class="text-danger text-end">-{{ orderDetails?.discountAmount | currency }}</td>
              </tr>
              <tr class="fw-bold">
                <td colspan="2">Tổng tiền</td>
                <td class="text-end">{{ orderDetails?.totalAmount | currency }}</td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>

        <!-- Payment -->
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <h3 class="h6">Phương thức thanh toán</h3>
                <p>{{ orderDetails?.paymentMethod }} - {{ orderDetails?.paymentCardLastFour }} <br>
                  Tổng: {{ orderDetails?.totalAmount | currency }} <span class="badge bg-success rounded-pill">{{ orderDetails?.paymentStatus }}</span>
                </p>
              </div>
              <div class="col-lg-6">
                <h3 class="h6">Địa chỉ</h3>
                <address>
                  <strong>{{ orderDetails?.shippingAddress.name }}</strong><br>
                  {{ orderDetails?.shippingAddress.street }}, {{ orderDetails?.shippingAddress.city }}<br>
                  <abbr title="Phone"></abbr> {{ orderDetails?.shippingAddress.phone }}
                </address>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
